.git
.github
.env
.env.*
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
ProblemStatement
tests
.phpunit.result.cache
*.md
!README.md
